.payment{
    background-color: white;

}
.payment_container > h2{
    text-align: center;
    padding:10px;
    margin-top: 0px;
    font-weight: 400;
    background-color: rgb(234,237,237);
    border-bottom: 1px solid lightgray;
}

.payment_container >h2 a{
    color:black;
}
.payment_section{
    display:flex;
    padding:20px;
    margin:0 20px;
    border-bottom: 1px solid lightgray;
}
.payment_title{
    flex:0.2;

}
.payment_address{
    flex:0.8;
}
.place_order{
    background-color: #ff9010;
    height: 30px;
    border:1px solid;
    border-color: #d1740a #c56e0a #945309;
    border-radius: 3px;
    width:15vw;
}